/* Base styles */
body {
  color: var(--color-text-primary);
  font-family: var(--font-family-base);
  overflow-y: scroll;
}

.layout-public {
  background: #f7f5f0;
  color: #0b2d61;
  font-family: var(--font-family-mono);
  letter-spacing: 0.06em;
}
