@import "tailwindcss";

@source "app/views/**/*.erb"
@source "app/components/**/*.rb"
@source "app/helpers/**/*.rb"
@source "app/javascript/**/*.js"

@import "./_base.css";
@import "./_utilities.css";

/* Import Custom Components */
@import "./components/_action-banner.css";
@import "./components/_article.css";
@import "./components/_articles.css";
@import "./components/_footer.css";
@import "./components/_layout.css";
@import "./components/_buttons.css";
@import "./components/_card.css";
@import "./components/_forms.css";
@import "./components/_dropdown.css";
@import "./components/_hero.css";
@import "./components/_long-text.css";
@import "./components/_short-text.css";
@import "./components/_image-upload.css";
@import "./components/_pager.css";
@import "./components/_toast.css";
@import "./components/_spec_classes.css";
@import "./components/_syntax_highlighting.css";
@import "./components/_pill.css";
@import "./components/_badge.css";
@import "./components/_headings.css";
@import "./components/_form-help.css";
@import "./components/_page-notice.css";

/* Import Admin Components */
@import "./components/_admin-colors.css";
@import "./components/_admin-nav.css";
@import "./components/_admin-footer.css";
@import "./components/_admin-forms.css";
@import "./components/_admin-password-reset.css";
@import "./components/_admin-text.css";
@import "./components/_admin-layout.css";
