<header class="a--page-title bg-gray-800 text-white py-6">
  <div class="l--container is-lg">
    <div class="flex justify-between items-center">
      <h1 class="a--heading is-xxl spec--page-title <%= title_class %>">
        <%= title %>
      </h1>
      <% if action_button %>
        <div class="spec--page-action-button">
          <%= action_button %>
        </div>
      <% end %>
    </div>
  </div>
</header>
