<header class="a--page-title bg-white border-b border-gray-200 py-4">
  <div class="l--container is-xxl">
    <div class="flex justify-between items-center">
      <h1 class="a--heading is-xl spec--page-title <%= title_class %>">
        <%= title %>
      </h1>
      <% if action_button %>
        <div class="spec--page-action-button">
          <%= action_button %>
        </div>
      <% end %>
    </div>
  </div>
</header>
