<div class="bg-amber-50 py-3 border-y border-amber-200 text-amber-700 spec--password-change-notice">
  <div class="l--container is--md">
    <div class="max-w-7xl mx-auto flex flex-col md:flex-row items-center justify-center gap-2 md:gap-4">
      <div class="flex gap-2 items-center">
        <span class="material-symbols-outlined text-lg md:text-2xl">info</span>
        <p class="text-sm md:text-base">
          <strong>セキュリティ強化のため、初期パスワードから変更してください。</strong>
        </p>
      </div>
      <%= link_to "パスワード変更", edit_admin_password_path, class: "a--button is--sm is--warning spec--change-password-link" %>
    </div>
  </div>
</div>
