<div class="bg-yellow-50 p-4 spec--password-change-notice">
  <div class="l--container is-md">
    <div class="max-w-7xl mx-auto flex items-center justify-between">
      <div class="flex gap-2 items-center">
        <span class="material-symbols-outlined text-yellow-800">info</span>
        <p class="text-yellow-800">
          <strong>セキュリティ強化のため、初期パスワードから変更してください。</strong>
        </p>
      </div>
      <%= link_to "パスワード変更", edit_admin_password_path, class: "a--button is-sm is-warning spec--change-password-link" %>
    </div>
  </div>
</div>