<div class="bg-amber-600 p-3 border-b border-gray-200 spec--password-change-notice">
  <div class="l--container is-md">
    <div class="max-w-7xl mx-auto flex items-center justify-center gap-1">
      <div class="flex gap-2 items-center">
        <span class="material-symbols-outlined text-white">info</span>
        <p class="text-white">
          <strong>セキュリティ強化のため、初期パスワードから変更してください。</strong>
        </p>
      </div>
      <%= link_to "パスワード変更", edit_admin_password_path, class: "a--button is-sm is-border-secondary spec--change-password-link" %>
    </div>
  </div>
</div>
