<div class="l--action-banner is--warning spec--password-change-notice">
  <div class="l--container is--md">
    <div class="l--action-banner__inner">
      <div class="l--action-banner__content">
        <span class="material-symbols-outlined l--action-banner__icon">info</span>
        <p class="l--action-banner__text">
          <strong>セキュリティ強化のため、初期パスワードから変更してください。</strong>
        </p>
      </div>
      <%= link_to "パスワード変更", edit_admin_password_path, class: "a--button is--sm is--warning spec--change-password-link" %>
    </div>
  </div>
</div>
