<div class="flex flex-col gap-10 spec--articles-list <%= list_class %>">
  <%= render partial: "admin_article_item", collection: articles, locals: { delete_button_class: local_assigns[:delete_button_class] } %>
</div>
