<nav class="a--pill">
  <%= link_to "全ての記事", admin_articles_path,
      class: "a--button is-md #{current_page?(admin_articles_path) ? 'is-warning' : 'is-border-secondary'}" %>
  <%= link_to "下書き記事", drafts_admin_articles_path,
      class: "a--button is-md #{current_page?(drafts_admin_articles_path) ? 'is-warning' : 'is-border-secondary'}" %>
</nav>
