<%= render PageTitleComponent.new(title: "記事を編集", title_class: "spec--edit-article-title") %>
<div class="a--page-body py-6">
  <div class="l--container is-xxl">
    <%= render "form", article: @article %>
  </div>
</div>
