<%= render "shared/page_title", title: "記事を編集", title_class: "spec--edit-article-title" %>
<div class="a--page-body py-6">
  <div class="l--container is-xl">
    <%= render "form", article: @article %>
  </div>
</div>
