<% if current_user_signed_in? %>
  <nav aria-label="管理メニュー" class="l--admin-nav spec--admin-header">
    <ul class="l--admin-nav__list">
      <li class="l--admin-nav__item">
        <%= link_to admin_articles_path, class: "l--admin-nav__link #{controller_name == 'articles' ? 'is--active' : ''}", aria_label: "記事管理" do %>
          <span class="material-symbols-outlined l--admin-nav__icon" aria-hidden="true">table_chart</span>
          <span class="l--admin-nav__text">記事</span>
        <% end %>
      </li>

      <li class="l--admin-nav__item">
        <%= link_to admin_site_settings_path, class: "l--admin-nav__link #{controller_name == 'site_settings' ? 'is--active' : ''}", aria_label: "サイト設定" do %>
          <span class="material-symbols-outlined l--admin-nav__icon" aria-hidden="true">settings</span>
          <span class="l--admin-nav__text">設定</span>
        <% end %>
      </li>

      <li class="l--admin-nav__item">
        <%= link_to admin_admins_path, class: "l--admin-nav__link #{controller_name == 'admins' ? 'is--active' : ''}", aria_label: "管理者管理" do %>
          <span class="material-symbols-outlined l--admin-nav__icon" aria-hidden="true">group</span>
          <span class="l--admin-nav__text">管理者</span>
        <% end %>
      </li>
    </ul>
  </nav>
<% end %>
