
  # デフォルト値の設定
  primary_label = local_assigns.fetch(:primary_label, "保存")
  primary_class = local_assigns.fetch(:primary_class, "spec--save-button")
  secondary_label = local_assigns.fetch(:secondary_label, nil)
  secondary_class = local_assigns.fetch(:secondary_class, "spec--draft-button")
  cancel_path = local_assigns.fetch(:cancel_path, nil)
  cancel_label = local_assigns.fetch(:cancel_label, "キャンセル")
%>

<div class="l--form-actions">
  <ul>
    <li><%= form.submit primary_label, class: "a--button is-lg is-primary is-flex #{primary_class}" %></li>

    <% if secondary_label.present? %>
      <li><%= form.submit secondary_label, class: "a--button is-lg is-warning is-flex #{secondary_class}" %></li>
    <% end %>

    <% if cancel_path.present? %>
      <li><%= link_to cancel_label, cancel_path, class: "a--button is-lg is-border-secondary is-flex spec--cancel-button" %></li>
    <% end %>
  </ul>
</div>
