/* Admin Navigation Component */
.l--admin-nav {
  --admin-nav-width: 12rem;
  background-color: var(--color-admin-nav-bg);
  position: fixed;
  z-index: 50;
  bottom: 0;
  left: 0;
  right: 0;
  height: 4rem;
  border-top: var(--border-width-thin) solid var(--color-admin-border-light);
}
@media (min-width: 1024px) {
  .l--admin-nav {
    top: 0;
    bottom: auto;
    right: auto;
    width: var(--admin-nav-width);
    height: 100vh;
    border-top: none;
    border-right: var(--border-width-thin) solid var(--color-admin-border-light);
  }
}
.l--admin-nav__list {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-around;
  gap: 0;
  height: 100%;
  padding-top: 0;
  padding-bottom: 0;
  overflow: hidden;
}
@media (min-width: 1024px) {
  .l--admin-nav__list {
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.25rem;
    height: 100%;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
}
.l--admin-nav__item {
  flex: 1 1 0%;
}
@media (min-width: 1024px) {
  .l--admin-nav__item {
    flex: none;
  }
}
.l--admin-nav__link {
  color: var(--color-admin-nav-text);
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  height: 100%;
  width: 100%;
  transition: all 0.2s ease-out;
  text-decoration: none;
}
@media (min-width: 1024px) {
  .l--admin-nav__link {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    padding: 0.75rem 1rem;
    border-radius: 0 999px 999px 0;
    margin-right: 0.5rem;
  }
}
.l--admin-nav__link:hover {
  color: var(--color-admin-nav-text-hover);
  background-color: var(--color-admin-primary-700);
}
.l--admin-nav__link.is--active {
  background-color: var(--color-admin-nav-active-bg);
  color: var(--color-admin-nav-text-hover);
}
.l--admin-nav__link.is--active:hover {
  background-color: var(--color-admin-primary-600);
}
.l--admin-nav__icon {
  font-size: 1.5rem;
  line-height: 2rem;
}
@media (min-width: 1024px) {
  .l--admin-nav__icon {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}
.l--admin-nav__text {
  font-size: 0.75rem;
  line-height: 1rem;
}
@media (min-width: 1024px) {
  .l--admin-nav__text {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}
