body.layout-admin {
  color: var(--color-text-primary);
  background-color: var(--color-admin-bg-body);
}

@media (min-width: 1024px) {
  body.layout-admin.is--logged-in {
    padding-left: var(--admin-nav-width);
  }
}
