.l--archive-months {
  margin-top: 3rem;
  margin-bottom: 4.25rem;
}

.l--archive-months__title {
  margin-bottom: 1.5rem;
}

.l--archive-months__item.a--button.is--primary:hover {
  background-color: rgb(30, 79, 134);
}

.l--archive-month-navigation__link {
  display: inline-flex;
  align-items: center;
  gap: 0.125rem;
  color: var(--color-button-primary);
  font-size: 0.875rem;
  font-weight: 600;
}

.l--archive-month-navigation__icon {
  font-size: 1.25rem;
  line-height: 1;
}

.l--archive-month-navigation__link:hover .l--archive-month-navigation__label {
  text-decoration: underline;
}

.l--archive-back-navigation__link {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 0.375rem;
  color: var(--color-button-primary);
  font-size: 0.875rem;
}

.l--archive-back-navigation__icon {
  font-size: 1.5rem;
  line-height: 1;
}

.l--archive-back-navigation__link:hover .l--archive-back-navigation__label {
  text-decoration: underline;
}

@media (min-width: 48rem) {
  .l--archive-header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    gap: 2rem;
  }

  .l--archive-header__title {
    margin-bottom: 0;
  }

  .l--archive-header__count {
    flex-shrink: 0;
  }
}
