.l--footer {
  margin-top: 0;
  padding-block: 3rem;
  font-family: var(--font-family-mono);
  font-size: 0.72rem;
  letter-spacing: 0.1em;
}

.l--footer small {
  font-size: 1rem;
}

.l--footer__inner {
  position: relative;
  align-items: center;
  justify-content: center;
}

.l--footer__copyright {
  display: block;
  text-align: center;
}

@media (min-width: 48rem) {
  .l--footer__navigation {
    position: absolute;
    right: 0;
  }
}
