/* Hero Component Styles */

.a--hero {
  background: var(--color-text-primary);
  color: var(--color-bg-primary);
  position: relative;
  overflow: hidden;
}

.a--hero__inner {
  height: 25rem;
  position: relative;
}
