/* Hero Component Styles */

.a--hero {
  background-color: var(--color-text-primary);
  color: var(--color-bg-primary);
  position: relative;
  overflow: hidden;
  aspect-ratio: 40 / 21;
}

.a--hero.has-background {
  background-image: var(--hero-bg-image);
  background-size: cover;
  background-position: center;
}

.a--hero.is--text-dark {
  color: var(--color-gray-900);
}

.a--hero.is--text-light {
  color: var(--color-white);
}

.a--hero.has-background .a--hero__inner {
  z-index: 1;
}

.a--hero__inner {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  height: 100%;
  padding: 2rem;
}
