/* Navigation Component Styles */

/* Admin Navigation Links */
.l--admin-nav a {
  transition: all 0.2s ease-out;
}

/* Admin Navigation Active State */
.l--admin-nav a.is--active {
  background-color: var(--color-sky-700);
  color: var(--color-white);
}

.l--admin-nav a.is--active:hover {
  background-color: var(--color-sky-600);
}
