.a--pill ul {
  display: flex;
  align-items: center;
  gap: -.5px
}

.a--pill .a--button {
  border-radius: 0;
  min-width: 10rem;
}

.a--pill .a--button:hover {
  position: relative;
  z-index: 1;
}

.a--pill li:first-child .a--button {
  border-top-left-radius: 10rem;
  border-bottom-left-radius: 10rem;
}

.a--pill li:last-child .a--button {
  border-top-right-radius: 10rem;
  border-bottom-right-radius: 10rem;
}
