<!-- Regular Header for Public Pages -->
<header class="l--public-header">
  <div class="l--container">
    <div class="l--public-header__inner flex justify-between items-center h-16">
      <div>
        <h1 class="a--heading is--lg">
          <%= link_to SiteSetting.site_title, root_path, class: "hover:text-gray-600" %>
        </h1>
      </div>
    </div>
  </div>
</header>
